.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/home-sideface.png');
    z-index: 999999;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.popupContent {
    width: 95vw;
    height: 95vh;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    background-image: url('/images/landingPopup.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    z-index: 99999; 
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.popupContent:hover {
    transform: scale(0.97); 
    transition: transform 0.5s ease-in-out;
}

.popupContent:hover .popupText {
    transform: scaleY(1.05) scaleX(1.05);
    transition: transform 0.5s ease-in-out;
}

.popupContent:hover .popupText > h2{
    transform: scaleY(1.5) scaleX(1.5);
    transition: transform 0.5s ease-in-out;
}

.popupText {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.popupText {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.popupText > h1 {
    color: white;
    font-size: 6em;
    text-align: center;
    margin: 0.1em 0;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); /* Add text shadow */
    font-weight: bold; /* Make the text bolder */
}

.popupText > h2 {
    color: white;
    text-align: center;
    font-size: 1.2em;
    margin: 1em 0;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); /* Add text shadow */
}
